<template>
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- Add to To Do List form -->
          <div class="row">
              <div class="col-md-8 col-md-offset-2">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <form class="form-material m-t-40">
                          <input name="taskTitle"
                           class="form-control"
                           required=""
                           data-validation-required-message="This field is required"
                           minlength="3"
                           maxlength="140"
                           aria-invalid="false"
                           type="text"
                           v-model="newTask"
                           @blur="addTask"
                           @keyup="showTitleAlert"
                           @keydown="tapPeople"
                           placeholder="Enter a new task title"
                           autofocus
                          >
                          <label>{{ newTask.length }}/140</label>
                          <div class="text-danger" v-if="titleAlert">Enter a description that is minimum 3 characters.</div>
                        </form>
                      </div>
<span v-if="activePerson" v-text="activePerson.name + ' is typing.'"></span>
                  </div>
              </div>
          </div>
        <!-- To Do List Card -->
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <button @click="showCompletedTasks" class="pull-right btn btn-sm btn-rounded btn-info">
                Hide/Show Completed
                </button>
                <button class="pull-right btn btn-sm btn-rounded btn-success"
                  data-toggle="modal"
                  data-target="#myModal">
                  Add Task
                </button>

                <button @click="testAlert(50)" class="pull-right btn btn-sm btn-rounded btn-danger">Test</button>
                <h4 class="card-title">Task List</h4>
                <h6 class="card-subtitle">List of most recent tasks</h6>
                <!-- ============================================================== -->
                <!-- To do list widgets -->
                <!-- ============================================================== -->
                  <ul class="list-task todo-list list-group m-b-0" data-role="tasklist">
                      <li v-for="repoTask in completedTasks"
                        :key="repoTask.id"
                        class="list-group-item"
                        data-role="task"
                        v-show="completedToggle"
                      >
                          <div class="checkbox checkbox-info">
                              <input type="checkbox"
                                :id="'inputCheckboxes' + repoTask.id"
                                :name="'inputCheckboxes' + repoTask.id"
                                @click="completeTask(repoTask.id)"
                                :checked="repoTask.completed"
                                v-model="repoTask.completed"
                              >
                              <label :for="'inputCheckboxes' + repoTask.id"
                                :class="[ (repoTask.completed) ? 'text-muted' : 'text-primary']"
                              >
                                <span v-text="repoTask.title"></span>
                              </label>
                          </div>
                      </li>

                      <li v-for="repoTask in openTasks"
                        :key="repoTask.id"
                        class="list-group-item"
                        data-role="task"
                      >
                          <div class="checkbox checkbox-info">
                              <input type="checkbox"
                                :id="'inputCheckboxes' + repoTask.id"
                                :name="'inputCheckboxes' + repoTask.id"
                                @click="completeTask(repoTask.id)"
                                :checked="repoTask.completed"
                                v-model="repoTask.completed"
                              >
                              <label :for="'inputCheckboxes' + repoTask.id"
                                :class="[ (repoTask.completed) ? 'text-muted' : 'text-primary']"
                              >
                                <span v-text="repoTask.title"></span>
                              </label>
                          </div>
                          <ul class="assignedto">
                              <li><img src="/material-pro/assets/images/users/1.jpg" alt="user" data-toggle="tooltip" data-placement="top" title="" data-original-title="Steave"></li>
                              <li><img src="/material-pro/assets/images/users/2.jpg" alt="user" data-toggle="tooltip" data-placement="top" title="" data-original-title="Jessica"></li>
                              <li><img src="/material-pro/assets/images/users/3.jpg" alt="user" data-toggle="tooltip" data-placement="top" title="" data-original-title="Priyanka"></li>
                              <li><img src="/material-pro/assets/images/users/4.jpg" alt="user" data-toggle="tooltip" data-placement="top" title="" data-original-title="Selina"></li>
                          </ul>
                      </li>
                    </ul>
              </div>
            </div>
          </div>

<!-- End To Do List Card -->
<!-- Start Timeline inside of To Do list Row (use lg to make sizing container dynamic) -->

                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <ul class="timeline">
                                    <li>
                                        <div class="timeline-badge success"><img class="img-responsive" alt="user" src="/material-pro/assets/images/users/1.jpg"> </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Gennifer</h4>
                                                <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small> </p>
                                            </div>
                                            <div class="timeline-body">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laboriosam dolor perspiciatis omnis exercitationem. Beatae, officia pariatur? Est cum veniam excepturi. Maiores praesentium, porro voluptas suscipit facere rem dicta, debitis.</p>
                                            </div>
       ½                                 </div>
                                    </li>
                                    <li class="timeline-inverted">
                                        <div class="timeline-badge warning"><img class="img-responsive" alt="user" src="/material-pro/assets/images/users/2.jpg"> </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Ritesh Deshmukh</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p><img class="img-responsive" alt="user" src="/material-pro/assets/images/users/3.jpg"></p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium maiores odit qui est tempora eos, nostrum provident explicabo dignissimos debitis vel! Adipisci eius voluptates, ad aut recusandae minus eaque facere.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="timeline-badge danger"><i class="fa fa-bomb"></i> </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus numquam facilis enim eaque, tenetur nam id qui vel velit similique nihil iure molestias aliquam, voluptatem totam quaerat, magni commodi quisquam.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="timeline-inverted">
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est quaerat asperiores sapiente, eligendi, nihil. Itaque quos, alias sapiente rerum quas odit! Aperiam officiis quidem delectus libero, omnis ut debitis!</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="timeline-badge info"><i class="fa fa-save"></i> </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minus modi quam ipsum alias at est molestiae excepturi delectus nesciunt, quibusdam debitis amet, beatae consequuntur impedit nulla qui! Laborum, atque.</p>
                                                <hr>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-gear"></i> <span class="caret"></span> </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="#">Action</a>
                                                        <a class="dropdown-item" href="#">Another action</a>
                                                        <a class="dropdown-item" href="#">Something else here</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="#">Separated link</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="timeline-inverted">
                                        <div class="timeline-badge success"><i class="fa fa-graduation-cap"></i> </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt obcaecati, quaerat tempore officia voluptas debitis consectetur culpa amet, accusamus dolorum fugiat, animi dicta aperiam, enim incidunt quisquam maxime neque eaque.</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
    </div>

</template>

<script>
export default {

    data() {
        return {

            repoTasks: [],

            repoId: '',

            newTask: '',

            newRepoTask: [],

            titleAlert: false,
            completedToggle: false,
            activePerson: false,
            activeTimer: false,

        };
    },

    computed: {
      openTasks: function() {
            return this.repoTasks.filter(task => task.completed == false);
      },

      completedTasks: function() {
            return this.repoTasks.filter(task => task.completed == true);
      }
    },

    created() {

      this.getTasks();

    },

    methods: {

        // Listen to Echo channels
        listen() {
            //
            Echo.private('Chatty.Tasks.' + Spark.route.repo.id)
                .listen('TaskCreated', event => {
                    //this.repoTasks.push(event.task);
                    this.repoTasks.unshift(event.task);
                })
                .listen('TaskCompleted', event => {
                    let i = this.repoTasks.map(repoTask => repoTask.id).indexOf(event.task.id) // find index of your object
                    this.$set(this.repoTasks[i], 'completed', event.task.completed)
                })
                .listenForWhisper('typing', event => {
                  this.activePerson = event;

                  if (this.activeTimer) clearTimeout(this.activeTimer);
                  this.activeTimer = setTimeout(() => {
                    this.activePerson = false;
                  }, 3000);

                });
        },

        tapPeople() {
            Echo.private('Chatty.Tasks.' + Spark.route.repo.id)
                .whisper('typing', {
                  name: this.spark.state.user.name
                });
        },

        showCompletedTasks() {
          this.completedToggle = !this.completedToggle;
        },

        testAlert(msg) {
        this.completedToggle = !this.completedToggle;

          console.log(this.spark.userId);

          var animals = [
            { name: 'Fluffykins', species: 'rabbit' },
            { name: 'Caro', species: 'dog' },
            { name: 'Jimmy', species: 'fish' }
          ];

          function noDogs(animal) {
            return animal.species !== 'dog';
          }

          var otherAnimals = animals.filter(noDogs);
          console.log(otherAnimals);

          let i = this.repoTasks.map(item => item.id).indexOf(50) // find index of your object
          //list.splice(i, 1) // remove it from array

            var list = this.repoTasks
            let bla = list.find( (stack) => {
            console.log(stack.id, stack.id === msg, stack);
            if (stack.id === msg) {
              console.log("Set");
              //this.$set(stack, 'completed', 1);
            }
                return stack.id === msg;
            });

            console.log(i, this.repoTasks[i], bla, this.$set(this.repoTasks[i], 'completed', 1));
            //alert(msg);
        },

        showTitleAlert() {
            this.titleAlert = this.newTask.length < 3 && this.newTask.length > 0;
        },

        getTasks() {
          axios.get('/tasks').then(response => {
            this.repoTasks = response.data.tasks;
            this.repoId = response.data.repoId;
            // Task list is loaded so fadeout the spinner
            $(".preloader").fadeOut();
            });
        },

        completeTask(id) {
            axios.post('/task/completed/' + id).then(response => {
              // console.log(response.data);
              });
        },

        addTask() {

            if (this.newTask.length > 2) {

                this.newRepoTask = {
                  title: this.newTask,
                  body: '',
                };

                axios.post('/tasks', this.newRepoTask).then(response => {
                  this.repoTasks.unshift(response.data);
                  });

                this.newTask = '';
                this.showTitleAlert();
                this.activePerson = false;

            } else {

                this.showTitleAlert();

            }
        }

    },

    mounted() {
        this.listen();
    }
};
</script>
